## **OOPs Concept**

**Inheritance**: [Organization: 1. Teacher 2. Student]

In [ ]:
class SchoolMember:
  def __init__(self,name,age,address):
    self.name = name
    self.age = age
    self.address = address
    print('Initialized School Member:')
  def tell(self):
    print(' I am {}. I am {} year old. And I live in {}'.format(self.name,self.age,self.address))

class Teacher(SchoolMember):
  def __init__(self,salary,courses):
    self.salary = salary 
    self.courses = courses

  def tell(self):
    print('Initialized Teacher:')
    print(' Here teacher salary is ${}, and courses are {}.'.format(self.salary,self.courses))

class Student(Teacher):
  def __init__(self,mark,fees):
    self.mark = mark
    self.fees = fees
  def tell(self):
    print('Initialized Student:')
    print(' Rohit get {}/100. And His annual fees is over ${}.'.format(self.mark,self.fees))

obj1 = SchoolMember('Rohit',21,'Bengaluru')  
obj1.tell()

obj2 = Teacher(5000,'Math and Science')
obj2.tell()

obj3 = Student(95,'5000')
obj3.tell()

Initialized School Member:
 I am Rohit. I am 21 year old. And I live in Bengaluru
Initialized Teacher:
 Here teacher salary is $5000, and courses are Math and Science.
Initialized Student:
 Rohit get 95/100. And His annual fees is over $5000.

**Classes and Objects**: [University: 1. Add student 2. Delete Student 3. Count Student]

In [ ]:
class University:
  no_of_student = 0

  def __init__(self,studentName):
    self.studentName = studentName 
    print('Initializing {}'.format(self.studentName))
    University.no_of_student += 1

  def delStudent(self):
    print('{} is not following rules so lets terminate.'.format(self.studentName))
    if University.no_of_student == 0:
      print('{} is last student of University.'.format(self.studentName))
    else:
      University.no_of_student -= 1
      
  def countStudent(self):
    print('There are still {} student studying.'.format(University.no_of_student))

  def say_hi(self):
    print('Greetings, My master call me {}.'.format(self.studentName))
  
  @classmethod
  def countStudent(cls):
    print('We have total {} students.'.format(cls.no_of_student))

stName1 = University('Ram')
stName1.say_hi()
stName2 = University('Shyam')
stName2.say_hi()
University.countStudent()
stName2.delStudent()
University.countStudent()

Initializing Ram
Greetings, My master call me Ram.
Initializing Shyam
Greetings, My master call me Shyam.
We have total 2 students.
Shyam is not following rules so lets terminate.
We have total 1 students.

**Abstract Method**: [Using different Toys names]

In [ ]:
from abc import ABC, abstractmethod
class Toys(ABC):
  def __init__(self):
    pass

  def teddy_bear(self):
    print('Hi, I am teddy bear, and kids love me.')  
  
  def bicycle(self):
    print('Hi, I am bicycle, and people use me to being healthy.')
  
  def kite(self):
    print('Hi, I am kite, and I love to fly in sky.')

toy1 = Toys()
toy1.teddy_bear()

toy2 = Toys()
toy2.bicycle()

toy3 = Toys()
toy3.kite()

Hi, I am teddy bear, and kids love me.
Hi, I am bicycle, and people use me to being healthy.
Hi, I am kite, and I love to fly in sky.